@media screen and (min-width: 1200px) {
    body {
        gap: 80px;
    }

    #nav-content,
    section {
        max-width: 1600px;
    }

    section {
        padding-left: 100px;
        padding-right: 100px;
    }

    #nav-content {
        padding: 24px 100px;
    }

    #copyright {
        padding-left: 100px;
        padding-right: 130px;
    } 
}

@media screen and (min-width: 1000px) {
    #tattoos {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, min-content);
    }

    #tattoos .card:nth-child(1),
    #tattoos .card:nth-child(4) {
        margin-right: 9px;
    }

    #tattoos .card:nth-child(3),
    #tattoos .card:nth-child(6) {
        margin-left: 9px;
    }

    #tattoos .card:nth-child(2),
    #tattoos .card:nth-child(5) {
        margin-left: 4.5px;
        margin-right: 4.5px;
    }
}

@media screen and (min-width: 900px) {
    nav ul {
        gap: 30px;
    }

    #logo {
        position: absolute;
        left: 50%;
        height: 30px;
        transform: translate(-50%, -50%);
    }

    #hero {
        margin-top: 100px;
    }

    #about p {
        width: 85%;
    }

    #faqs {
        gap: 80px;
    }

    #book {
        padding-bottom: 370px;
        gap: 60px;
    }

    #book img {
        top: 13%;
    }

    #socials, #other {
        padding: 24px 0px;
        justify-content: start;
    }

    #details {
        padding: 12px 0;
    }

    #copyright {
        border-radius: 0 30px 0 0;
    }

    .p3, label, legend {
        font-size: 18px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
    body {
        gap: 60px;
    }

    #nav-content {
        padding: 24px 60px;
    }

    section {
        padding-left: 60px;
        padding-right: 60px;    }

    #copyright {
        padding-left: 60px;
        padding-right: 90px;
    } 
}

@media screen and (min-width: 650px) {
    h2 {
        font-size: 72px;
        line-height: 68px;
    }

    h4 {
        font-size: 48px;
        line-height: 44px;
    }

    h5 {
        font-size: 24px;
        font-weight: 400;
    }

    .p1 {
        font-size: 22px;
    }
    
    .p2 {
        font-size: 20px;
    }

    .small-text {
        font-size: 15px;
    }

    button {
        font-size: 16px;
    }

    .question {
        border-radius: 20px;
        padding: 32px 24px;
    }

    #copyright {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    #modal-window {
        background-color: var(--translucent-gray);
        justify-content: center;
    }

    .modal {
        position: relative;
        padding: 50px 55px;
        width: 600px;
        height: fit-content;
        border-radius: 30px;
        border: 1px solid var(--light-gray);
        box-shadow: 0px 4px 10px 0px #00000040;
    }

    .close-modal {
        top: 0;
        right: 0;
        transform: translate(25%, -25%);
    }

    .start-page {
        padding: 35px 0;
    }

    .form-page {
        height: 480px;
        overflow-x: visible;
        overflow-y: scroll;
    }

    .form-navigation, .header-with-line {
        position: absolute;
        width: 490px;
        padding: 0 15px 0 5px;
        z-index: 10;
    }

    .header-with-line {
        top: 50px;
        padding-bottom: 30px;
        background: -moz-linear-gradient(var(--black, #121212) 65%, transparent 100%);
        background: -webkit-linear-gradient(var(--black, #121212) 65%, transparent 100%);
        background: linear-gradient(var(--black, #121212) 65%, transparent 100%);
    }

    .form-navigation {
        bottom: 50px;
        padding-top: 20px;
        background: -moz-linear-gradient(0deg, var(--black, #121212) 65%, transparent 100%);
        background: -webkit-linear-gradient(0deg, var(--black, #121212) 65%, transparent 100%);
        background: linear-gradient(0deg, var(--black, #121212) 65%, transparent 100%);
    }

    .form-fields {
        overflow-y: scroll;
        padding: 60px 10px 75px;
    }

    #about, 
    #pronoun-options {
        gap: 80px;
    }

    .row label, 
    .flex-col label {
      font-size: 16px;
    }

    #name-fields > div,
    #contact-fields > div {
        width: 50%;
        max-width: 229px;
    }

    #custom-pronoun {
        width: 100%;
        max-width: 169px;
    }

    .btns {
        justify-content: end;
    }

    input, 
    textarea {
        font-size: 15px;
    }

    .form-fields, 
    fieldset.box, 
    #file-upload-box,
    #file-field {
        height: 100%;
    }

    p.error {
        font-size: 14px;
    }
}