@media screen and (max-width: 899px) {
    p {
        font-size: 20px;
    }

    .p3, label, legend, button {
        font-size: 18px;
    }

    nav ul,
    nav li {
        display: none;
    }
    
    nav button.open-modal {
        display: none;
    }

    nav button.open-menu {
        display: block;
    }

    #menu-window {
        background: -moz-linear-gradient(0deg, var(--lime-green, #D8D339) -60%, transparent 80%), var(--black, #121212);
        background: -webkit-linear-gradient(0deg, var(--lime-green, #D8D339) -60%, transparent 80%), var(--black, #121212);
        background: linear-gradient(0deg, var(--lime-green, #D8D339) -60%, transparent 80%), var(--black, #121212);
        justify-content: center;
        text-align: center;
        padding-top: 60px;
    }

    #menu-window button {
        position: absolute;
        top: 24px;
    }

    #menu-window li.open-modal:hover {
        text-decoration: underline;
    }

    #hero {
        margin-top: 120px;
    }

    #faqs {
        gap: 30px;
    }

    #book {
        justify-content: center;
        height: 400px;
        margin-bottom: 120px;
        gap: 42px;
    }

    #book img {
        top: 9%;
    }

    footer {
        flex-direction: column;
    }

    footer {
        gap: 80px;
    }

    #copyright {
        order: 1;
        border-radius: 30px 0px 0px 0px;
        position: relative;
        bottom: 0;
        left: 25%;
        width: 75%;
        padding: 26px;
    }

    #socials,
    #other {
        width: 100%;
    }

    #details,
    #socials *,
    #other * {
        text-align: center;
    }
}

@media screen and (min-width: 650px) and (max-width: 899px) {
    body {
        gap: 40px;
    }

    section {
        padding-left: 40px;
        padding-right: 40px;
    }

    #nav-content {
        padding: 24px 40px;
    }

    #logo {
        height: 40px;
        top: 30px;
        left: 40px;
    }

    #copyright {
        padding-left: 40px;
        padding-right: 60px;
    } 

    #menu-window button {
        right: 40px;
    }

    #menu-window .nav-link {
        font-size: 74px;
    }
}

@media screen and (min-width: 650px) and (max-width: 999px) {
    #tattoos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, min-content);
    }

    #tattoos .card:nth-child(odd) {
        margin-right: 14px;
    }    
}

@media screen and (max-width: 649px) {
    body {
        gap: 40px;
    }

    section, 
    .modal {
        padding-left: 22px;
        padding-right: 22px;
    }
    
    h2 {
        font-size: 54px;
        line-height: 50px;
    }    

    #nav-content {
        padding: 24px 22px;
    }

    #logo {
        height: 40px;
        top: 30px;
        left: 22px;
    }

    #details {
        padding-top: 30px;
        gap: 0px;
    }

    #details p {
        margin-bottom: 0;
    }

    #about {
        align-items: flex-start;
    }

    #tattoos {
        display: block;
    }

    #header-with-img {
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 50px;
    }

    .question {
        border-radius: 14px;
        padding: 20px;
    }

    #menu-window button {
        right: 22px;
    }

    #menu-window .nav-link {
        font-size: 64px;
    }

    .field,
    .modal, 
    .start-page,
    .form-page,
    #pronoun-options > div,
    #custom-option,
    .form-page button,
    .form-page .btns {
        width: 100%;
    }

    .modal, 
    .start-page,
    .form-page {
        height: 100%;
    }

    .close-modal {
        top: 13px;
        right: 22px;
    }

    .modal {
        overflow-y: scroll;
    }

    .start-page {
        justify-content: center;
    }

    .form-page {
        padding-top: 60px;
        padding-bottom: 66px;
        gap: 30px;
    }

    h4 {
        font-size: 50px;
        line-height: 48px;
    }

    h5 {
        font-size: 24px;
        font-weight: 500;
    }

    #pronoun-options label {
        font-size: 18px;
    }

    input[type="text"], 
    input[type="tel"], 
    input[type="email"], 
    input[type="number"] {
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 17px;
    }

    .radio, 
    .checkbox {
        min-width: 26px;
        min-height: 26px;
    }

    .circle, 
    .checkmark {
        width: 16px;
        height: 16px;
    }

    .small-text {
        font-size: 16px;
    }

    #details,
    #header-with-img,
    #name-fields,
    #pronoun-options,
    #contact-fields, 
    #size-fields > div {
        flex-direction: column;
    }

    .form-page .btns {
        flex-direction: column-reverse;
    }

    .form-fields,
    #details,
    #header-with-img,
    #name-fields,
    #contact-fields {
        gap: 24px;
    }

    #custom-pronoun {
        max-width: 100%;
    }

    .progress {
        display: none;
    }

    #pronoun-options,
    #pronoun-options .flex-col {
        gap: 18px;
    }

    #pronoun-options .flex-col:last-child {
        gap: 15.5px;
    }

    form button.secondary {
        outline: none;    
    }

    p.error, 
    span.error {
        font-size: 17px;
    }

    .options {
        gap: 20px;
    }

    input[type="number"] {
        padding-right: 35px;
    }

    #size-fields > div {
        gap: 12px;
    }

    #file-upload-box,
    textarea {
        height: 320px;
    }

    #file-upload-box {
        margin-top: 6px;
    }
}